[include mainsail.cfg]
[include toolhead.cfg]
[include homing.cfg]

############################################################################################################################################################
[printer]
kinematics: delta
max_velocity: 300
max_accel: 3700  #3000-9000-20000 after tuning with adxl / inputshaper stay to lower values otherwise starting out. eg 6000 note marlin default is 2800 this may work better on some printers or filament types 
max_accel_to_decel:3200 #I AM HALF MAX SET ACC BY DEFAULT. I CONTROL ZIG ZAG MOVEMENTS AND ADJUST VELOCITY BASED ON DIMENSIONS AND SMOOTH THINGS OUT. SET TO MAX WOULD BE SIMILAR TO MARLIN BEHAVIOR ADXL WIL COVER ROUGH MOVEMENTS. INCREASING MAX ACC IS USUALLY THE BETTER SOLUTION. 
max_z_accel: 3700 # this default should be fine / max acceration for z moves. (It may help to bump this up or down a bit depending on desired noise / zhop height. 
minimum_z_position: -25 #Once you find your z offset it is suggested to return this to 0 to avoid potentially crashing a nozzle for whatever reason. z offset shouldn't change unless the hotend has been adjusted. most things are flow related. 
square_corner_velocity: 31 # This can depend on desired speed to quality. higher values 15 -20 generally work fine. Left as a safe default. acc / corner velcoity can be adjusted with slicer controls macros handle this. i use a default of 15-30 or dynamic values. 
delta_radius: 130 #151.62 ish should show up after delta caibrate in the save section. 
print_radius: 130 #

[firmware_retraction] # make sure to enable this in slicer. cura printer settings addon is required to hit the check box. every other slicer should have it in settings tab. this allows live adjustments or ability to fix a mistake without canceling. 
retract_length: 6.5
retract_speed: 40
unretract_extra_length: 0
unretract_speed: 40

[idle_timeout]
#gcode:
timeout: 300 #TIME BEFORE PRINTER TURNS OFF HEATERS AND STEPPERS MAX IDLE TIME 5MINS 
############################################################################################################################################################
#MAINBOARD / ACCELEROMETER SECTION.
############################################################################################################################################################
[mcu MCU_MANTA]
serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_260044001651303239383037-if00 # Run ls /dev/serial/by-id/* on your Raspberry Pi to get YOUR serial or it wont connect

[board_pins MCU_MANTA]
aliases:
    M1_STEP=PE6  , M1_DIR=PE5  , M1_EN=PC14 , M1_CS=PC13 ,
    M2_STEP=PE2  , M2_DIR=PE1  , M2_EN=PE4  , M2_CS=PE3  ,
    M3_STEP=PB8  , M3_DIR=PB7  , M3_EN=PE0  , M3_CS=PB9  ,
    M4_STEP=PB4  , M4_DIR=PB3  , M4_EN=PB6  , M4_CS=PB5  ,
    M5_STEP=PG13 , M5_DIR=PG12 , M5_EN=PG15 , M5_CS=PG14 ,
    M6_STEP=PG9  , M6_DIR=PD7  , M6_EN=PG11 , M6_CS=PG10 ,
    M7_STEP=PD4  , M7_DIR=PD3  , M7_EN=PD6  , M7_CS=PD5  ,
    M8_STEP=PC7  , M8_DIR=PC8  , M8_EN=PD2  , M8_CS=PC6  ,

    M1_STOP=PF4 , M2_STOP=PF3  , M3_STOP=PF2  , M4_STOP=PF1 ,
    M5_STOP=PF0 , M6_STOP=PC15 ,

    HE0=PA0 , HE1=PA1 , HE2=PA3 , HE3=PA5 ,

    BED_OUT=PF5 ,

    THB=PB1 , TH0=PB0 , TH1=PC5 , TH2=PC4 , TH3=PA7 ,

    FAN0=PF7 , FAN1=PF9 , FAN2=PF6 , FAN3=PA8 , FAN4=PA4 ,
    FAN5=PA6 , FAN5_TACH=PC2 ,
    FAN6=PA2 , FAN6_TACH=PC1 ,

    RGB1=PD15      ,
    PS_ON=PD14     ,
    POWER_DET=PB10 ,

    PROBE1=PD13   , PROBE2=PD12 ,
    IND_PROBE=PD8 ,

    SPI_MOSI=PC12 , SPI_MISO=PC11 , SPI_SCK=PC10 , SPI_CS=PA15 ,
    M_SPI_MOSI=PG6, M_SPI_MISO=PG7, M_SPI_SCK=PG8,

    # TX                   RX
    CAN_LOW=PD1 , CAN_HIGH=PD0 ,

    FWS1=PC0 , FWS=PF10 ,

    # EXP ribbon
    EXP1_1=<5V>   , EXP1_2=<G>   ,
    EXP1_3=PF11   , EXP1_4=PF12  ,
    EXP1_5=PF13   , EXP1_6=PF14  ,
    EXP1_7=PF15   , EXP1_8=PG0   ,
    EXP1_9=PG1    , EXP1_10=PE7  ,
    EXP1_11=<RST> , EXP1_12=PE8  ,
    EXP1_13=PE14  , EXP1_14=PE10 ,
    EXP1_15=PE11  , EXP1_16=PE15 ,
    EXP1_17=PE12  , EXP1_18=PE13
#[adxl345] #TURN ME OFN BY REMOVING THE #. IF YOU HAVE ONE. EXAMPLE [ADXL345] IS NOW ON REMOVE# TO ENABLE OR ADD # TO ENABLE FEATURES.  DO NOT CONFUSE THIS WITH MARLIN.  
#cs_pin: rpi:None 

#[resonance_tester] # ENABLE  THIS  IF YOU HAVE ADXL ACCELEROMETER . USE MANUAL METHOD IF YOU DONT INSTEAD. https://www.klipper3d.org/Resonance_Compensation.html
#accel_chip: adxl345
#max_smoothing: 0.20  # an example
#min_freq: 5
#max_freq: 120
#accel_per_hz: 25
#probe_points: 
     #0,0,5
     
#[input_shaper]   #PLACE HOLDER VALUES 
#shaper_type_x = zv
#shaper_freq_x = 0
#shaper_type_y = zv
#shaper_freq_y = 0
############################################################################################################################################################
# A (X-Stepper) Configuration  ENABLE ARM LENGTH , ANGLE , POSITION ENDSTOP. FOR THE FIRST TIME EVER. DELTA CALIBRATE WILL ADJUST THIS AND SAVE AT THE BOTTOM. 
############################################################################################################################################################
[stepper_a] # X
step_pin: MCU_MANTA:M1_STEP
dir_pin: MCU_MANTA:M1_DIR
enable_pin: !MCU_MANTA:M1_EN
microsteps: 128 # TMC ARE MENT TO BE SET TO THE HIGHEST VALUE THE MCU CAN SUPPORT THIS DOES NOT WORK THE SAME AS OLDER DRIVERS.  DON'T TOUCH ROTATION DISTANCE JUST THIS IF YOU WANT TO CHANGE IT (KLIPPER WILL CALCULATE STEPPING AUTOMATICALLY) 
rotation_distance: 40 #NEVER ADJUST THESE VALUES. ADJUSTING THIS WILL NOT SOLVE DIMENSION ISSUES. HORIZONTAL OFFSET / FLOW. OTHERWISE BELTS, OR RAILS MAY NOT BE MOVING RIGHT FOR THIS TO HAPPEN.  
full_steps_per_rotation: 200 #CHANGE THIS TO 400 FOR 0.9 DEGREE STEPPERS AGAIN KLIIPPER WILL CALCULATE THE NEW VALUES AUTOMATICALLY 
endstop_pin: ^MCU_MANTA:M1_STOP 
homing_speed: 60 # This is left a bit slow for initial start up safty once everything is setup up 70-90 are reasonable. (note the sr has optical endstops it can home fast This value needs to be changed on a,b,c steppers)
homing_retract_dist: 5.0
homing_retract_speed:10
#arm_length: 315 #note turning this one applys for b and c as well. 
#position_endstop: 336.5 #note turning this one applys for b and c as well. 

[tmc2209 stepper_a]
uart_pin: MCU_MANTA:M1_CS
interpolate: false
run_current: 1.138 #THIS IS RMS CURRENT NOT VREF FOR TMC. tmc spreadsheet tuned. 
driver_TBL: 2 
driver_TOFF: 2 
driver_HSTRT: 1 
driver_HEND: 3 
sense_resistor: 0.110
driver_PWM_REG: 7
driver_PWM_OFS: 36
stealthchop_threshold: 99999 #this forces always silent. due to the stepper location turning this off will result in amplifed noise due to the case acoustics.
############################################################################################################################################################
# B (Y-Stepper)  Configuration 
############################################################################################################################################################
[stepper_b] # Y
step_pin: MCU_MANTA:M3_STEP
dir_pin: MCU_MANTA:M3_DIR
enable_pin: !MCU_MANTA:M3_EN
microsteps: 128
rotation_distance: 40
full_steps_per_rotation: 200
endstop_pin: ^MCU_MANTA:M3_STOP
homing_speed: 60
homing_retract_dist: 5.0
homing_retract_speed: 10 

[tmc2209 stepper_b]
uart_pin: MCU_MANTA:M3_CS
interpolate: false
run_current: 1.138 # 
driver_TBL: 2 
driver_TOFF: 2 
driver_HSTRT: 1 
driver_HEND: 3 
sense_resistor: 0.110
driver_PWM_REG: 7
driver_PWM_OFS: 36
stealthchop_threshold: 99999
############################################################################################################################################################
# C (Z-Stepper)  Configuration
############################################################################################################################################################
[stepper_c] # Z
step_pin: MCU_MANTA:M5_STEP
dir_pin: MCU_MANTA:M5_DIR
enable_pin: !MCU_MANTA:M5_EN
microsteps: 128
rotation_distance: 40
full_steps_per_rotation: 200
endstop_pin: ^MCU_MANTA:M5_STOP
homing_speed: 60
homing_retract_dist: 5.0
homing_retract_speed: 10 

[tmc2209 stepper_c]
uart_pin: MCU_MANTA:M5_CS
interpolate: false 
run_current: 1.138 
driver_TBL: 2 
driver_TOFF: 2 
driver_HSTRT: 1 
driver_HEND: 3 
sense_resistor: 0.110
driver_PWM_REG: 7
driver_PWM_OFS: 36
stealthchop_threshold: 99999

############################################################################################################################################################
#MISC SENSORS / AUXILARY HARDWARE/ optional features remove # to enable 
############################################################################################################################################################
[endstop_phase stepper_a]
endstop_align_zero: false
[endstop_phase stepper_b]
endstop_align_zero: false
[endstop_phase stepper_c]
endstop_align_zero: false 

############################################################################################################################################################
# Bed Configuration
############################################################################################################################################################
[heater_bed]
heater_pin: MCU_MANTA:HE1
sensor_type: Generic 3950 #NTC 100K beta 3950
sensor_pin: MCU_MANTA:TH1
min_temp: 0
max_temp: 115
#control: pid
#pid_Kp: 59.45   #same as the extruder enable remember to pid tune bed  
#pid_Ki: 11.8
#pid_Kd: 199.75

				  
############################################################################################################################################################
#AUTO BED LEVELING / DELTA CALIBRATE / MESH SETTINGS / OFFSETS. Note bed tilt and bed mesh are not compatible enabled at the same time. tilt reccomended. 
############################################################################################################################################################
[delta_calibrate]
radius: 127.5 #alternate option tehcnically more correct square in circle =195.086. /2 =97.543
horizontal_move_z: 30
speed: 150

[bed_mesh]
speed: 150
horizontal_move_z: 30 #5
mesh_radius: 127.5
mesh_origin: 0,0
round_probe_count: 5 #9 for extreme conditions most likely over kill 9/10. first layer height should be min 0.3 for volcanos or above max "deviation" 
mesh_pps: 5,5  
algorithm: bicubic
bicubic_tension: 0.1
move_check_distance: 3
split_delta_z: 0.025
fade_start: 1
fade_end: 30
relative_reference_index: 6 # Mesh values: 6=5 points 24 = 9 point Its better to use  less points in most cases unless dealing with extreamly  uneven surfaces eg bubbled stickers , chunky powercoat etc 

[gcode_arcs]
resolution: 1.0

[temperature_sensor rpi_temperature]
sensor_type: temperature_host

[temperature_sensor mcu_temperature]
sensor_type: temperature_mcu
mcu: MCU_MANTA